body{
background-color: #040201;
color: #ECF4F1;
}

.scoreArea{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}

.text{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.scoreText{
    font-size: 68px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 20px;

}

#remark{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-top: 65px;
     visibility:hidden;
}



#playAgain{
    margin-top: 20px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    color:  #ECF4F1;
    background-color: #4FBA91;
}

.pictureArea{
    display: flex;
    justify-content: center;
    gap: 200px;
}

img{
    margin-top: 50px;
    width: 200px;

}

#compImg{
    transform: scaleX(-1);
}

.option{
    display: flex;
    justify-content: center;

}

#optionText{
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
    font-size: 45px;
    font-family: Courier New, Courier, monospace;
    visibility: visible;

}

.icon{
    height: 70px;
    width: 70px;
    margin-top: 0px;
}

.iconBtn{
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040201;
    margin-top: 20px;
    margin-left: 20px;
}

.hideBtn{
    display: none;
    pointer-events: none;
}


@media (max-width: 768px) {
    .scoreArea{
        display: flex;
        flex-direction: column;
    }
    #remark{
        margin-top: 20px;
    }
    .c{
        margin-top: 20px;
    }

    .text, .scoreText{
        font-size: 30px;
    }

    #playerImg, #compImg{
        width: 100px;
        margin-bottom: 100px;
    }

    .pictureArea{
        gap: 100px;
    }

    #optionText{
        font-size: 25px;
    }
    .icon, .iconBtn {
        height: 50px;
        width: 50px;
    }

  }